body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: antiquewhite;
  }
  
  h1 {
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    text-align: left;
  }
  
  button[type="submit"] {
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
  }