<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Slett din bruker</title>
</head>
<body>
  <h1>slett bruker</h1>

  <form action="/removeUser" method="post">
    <label for="slett">Skriv inn "BEKREFT" for å slette brukeren </label><input type="text" name="slett"><br>
    <button>Slett</button>
  </form>
  <form action="/" method="get">
  <button>Gå tilbake</button>
  </form>      
</body>
</html>
